@use '../variables'
@use '../mixins'
.projects-grid
      display: flex
     
      flex-wrap: wrap
      gap: 1.5rem
      .projects-card
        @include mixins.center
        gap: 1rem
        padding: 1rem
        border: 1px solid #333
        width: 45%
        border-radius: variables.$card-border-radius

        h3
          color: variables.$text-color
          margin-bottom: 1rem
          
        img
          width: 180px

        .infos
          display: flex
          flex-direction: column
          justify-content: space-between
          .btn
            display: flex
            align-content: center
            justify-content: center
            

          p
            padding-top: 2rem
            
